html, body {
  text-align: center;
}
.tab {
  width: 100%
}
span {
  font-size: 45px; 
  border: 2px solid black; 
  margin: 30px; 
  padding:5px 15px;
}
.im1 {
  width:100%;
}
.th1 {
   margin-top: 50px;
   font-weight: bold;
}
.th2 {
   font-weight: bold;
   color: white;
}
.btn{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 2px 50px;
  border: none;
}
.btn:hover{
  background-color: white;
  color: black;
}
.btn1 {
  background-color: #ff8c00;
  color: white;
  cursor: pointer;
  margin-bottom: 50px;
  padding: 2px 50px;
}
.btn1:hover{
  background-color: white;
  color: black;
}
.im2{
  height: 100%; 
  width: 100%;
}
.col{
  background-color: #ff8c00;
}
